<main>
  <div id="clouds-container">
    <div id="cloud1" class="clouds">
      <img src="./assets/landing/cloud1.png" alt="cloud">
    </div>
    <div id="cloud2" class="clouds">
      <img src="./assets/landing/cloud4.png" alt="cloud">
    </div>

    <div id="health">
      <img src="./assets/landing/health3.png" alt="health">
    </div>
  </div>
  <div id="logins">
    <div class="forms">
      <h1 class="registrar">Veterinario</h1>
      <form (ngSubmit)="checkLogin()">
        <div>
          <input [(ngModel)]="cedula" type="text" id="cedula-v" name="cedula" placeholder="Cédula">
        </div>
        <div>
          <input [(ngModel)]="contrase" type="password" id="password" name="password" placeholder="Contraseña">
        </div>
        <div class="button-registrar">
          <button type="submit" class="button-registrar2" >Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</main>
