<main>
  <div id="container">
    <div id="img-container">
      <img [src]="mascota?.imagen" alt="Imagen de la mascota">
    </div>
    <div id="data-container">
      <div id="names">
        <div class="pet-name">Nombre: <span>{{ mascota?.nombre }}</span></div>
      </div>
      <div id="info-container">
        <div class="info">
          <p>Raza: <span>{{ mascota?.raza }}</span></p>
          <p>Edad: <span>{{ mascota?.edad }}</span> años</p>
          <p>Peso: <span>{{ mascota?.peso }}</span> Kg</p>
          <p>Enfermedad: <span>{{ mascota?.enfermedad }}</span></p>
          <p>Estado: <span>{{ mascota?.estado === true ? 'Inactivo' : 'Activo' }}</span></p>
        </div>
      </div>
    </div>
  </div>

  <div id="tratamientos-container">
    <h2>Tratamientos de {{ mascota?.nombre }}</h2>
    <ul>
      <li *ngFor="let tratamiento of tratamientosMascota" class="treatment-item">
        <p><strong>Fecha:</strong> <span>{{ tratamiento.fecha | date:'dd/MM/yyyy' }}</span></p>
        <p><strong>Veterinario:</strong> <span>{{ tratamiento.veterinario.nombre }}</span></p>
        <p><strong>Medicamento:</strong> <span>{{ tratamiento.droga.nombre }}</span></p>
      </li>
    </ul>
  </div>
</main>
