<header>
  <nav>
    <div id="logo-container">
      <a href="/home">
        <img id="logo" src="./assets/landing/Logo.jpeg" alt="logo">
      </a>
    </div>
    <ul id="menu">
      <li *ngIf="userRole === 'landing'"><a href="/login-client">Iniciar</a></li>
      <li *ngIf="userRole === 'veterinario-d'"><a href="/mascotas">Lista de Mascotas</a></li>
      <li *ngIf="userRole === 'veterinario-d'"><a href="/clientes">Lista de Clientes</a></li>
      <li *ngIf="userRole === 'admin'"><a href="/veterinarios">Lista de Veterinarios</a></li>
      <li *ngIf="userRole === 'admin'"><a href="/registro-v">Registrar</a></li>
      <li *ngIf="userRole === 'veterinario-d'"><a href="/registro-m">Registrar</a></li>
      <li *ngIf="userRole === 'veterinario-c'"><a href="/mascotas">Lista de Mascotas</a></li>
      <li *ngIf="userRole === 'veterinario-c'"><a href="/clientes">Lista de Clientes</a></li>
      <li *ngIf="userRole === 'veterinario-c'"><a href="/registro-c">Registrar</a></li>
      <li *ngIf="userRole === 'veterinario-c'"><a href="/tratamiento">Tratamiento</a></li>
      <li *ngIf="userRole === 'veterinario-d'"><a href="/tratamiento">Tratamiento</a></li>
      <li *ngIf="userRole === 'usuario'"><a href="/usuario/salir">Salir</a></li>

      <li *ngIf="userRole === 'login-c'"><a href="/login-vet">Veterinario</a></li>
      <li *ngIf="userRole === 'login-c'"><a href="/login-admin">Administrador</a></li>
      <li *ngIf="userRole === 'login-v'"><a href="/login-client">Cliente</a></li>
      <li *ngIf="userRole === 'login-v'"><a href="/login-admin">Administrador</a></li>
      <li *ngIf="userRole === 'login-a'"><a href="/login-client">Cliente</a></li>
      <li *ngIf="userRole === 'login-a'"><a href="/login-vet">Veterinario</a></li>

      <li *ngIf="userRole === 'salir-c'"><a href="/">Salir</a></li>
    </ul>
    <button id="book-now">
      <img id="logo-message" src="./assets/landing/message-circle.png" alt="message-circle"> <!-- Icono -->
      Escribenos
    </button>
  </nav>
</header>
