#clouds {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
  pointer-events: none;
}
#centro1{
  position: absolute;
  right: 0;
  margin-top: 140px;
  width: 500px;
}
#centro2{
  position: absolute;
  left: 0;
  margin-top: 600px;
  margin-left: 60px;
}

#forms {
  margin-top: 100px;
  margin-left: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.486);
  padding: 10px 40px 10px;
  border-radius: 15px;
  width: 700px;
  margin-bottom: 50px;
}

.registrar {
  font-size: 50px;
  color: #0863be;
  text-align: center;
  margin-top: 50px;
}

#forms h2 {
  margin-top: 0px;
  font-size: 35px;
  color: #2C3E50;
  margin-bottom: 20px;
}

#forms div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#forms form div {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

#forms label {
  font-size: 27px;
  color: #2C3E50;
  margin-bottom: 5px;
}

#forms input {
  background-color: #EAF0F7;
  border: 1px solid #EAF0F7;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #2C3E50;
  margin-bottom: 10px;
  width: 400px;
}

.button-registrar {
  padding-top: 30px;
  margin-left: 270px;
}

#button-registrar, #button-registrar-mascota {
  background-color: transparent;
  width: 150px;
  height: 50px;
  display: inline-block;
  align-items: center;
  line-height: 28px;
  border: 2px solid #3780ed;
  color: #1c53ec;
  font-size: 20px;
  font-weight: bold;
  border-radius: 22px;
  text-decoration: none;
  margin-right: 10px;
}
