<div id="clouds">
  <img id="centro1" src="../../../../assets/register/centro1.png">
  <img id="centro2" src="../../../../assets/register/centro2.png">
</div>
<div id="forms">
  <h1 class="registrar" *ngIf="userRole === 'registrar'">Registrar</h1>
  <h1 class="registrar" *ngIf="userRole === 'editar'">Editar</h1>
  <form (ngSubmit)="addMascotaForm()">
    <h2>Información Mascota</h2>

    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="formMascota.nombre" name="nombre" required>
    </div>

    <div>
      <label for="raza">Raza:</label>
      <input type="text" id="raza" [(ngModel)]="formMascota.raza" name="raza" required>
    </div>

    <div>
      <label for="peso">Peso (kg):</label>
      <input type="number" id="peso" [(ngModel)]="formMascota.peso" name="peso" required>
    </div>

    <div>
      <label for="edad">Edad (años):</label>
      <input type="number" id="edad" [(ngModel)]="formMascota.edad" name="edad" required>
    </div>

    <div>
      <label for="foto">Imagen:</label>
      <input type="text" id="foto" [(ngModel)]="formMascota.imagen" name="Imagen" required>
    </div>

    <div>
      <label for="enfermedad">Enfermedad:</label>
      <input type="text" id="enfermedad" [(ngModel)]="formMascota.enfermedad" name="enfermedad" required>
    </div>

    <div>
      <label for="estado">Estado:</label>
      <input type="checkbox" id="estado" [(ngModel)]="formMascota.estado" name="estado">
    </div>

    <div>
      <label for="cliente">Cliente:</label>
      <select id="cliente" [(ngModel)]="formMascota.cliente" name="cliente" required>
        <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{cliente.nombre}}</option>
      </select>
    </div>

    <div class="button-registrar">
      <button id="button-registrar-mascota" type="submit">Registrar</button>
    </div>
  </form>
</div>
