
<div class="table-container">
<div class="container">
  <div id="register-container">
    <h1>Tus Mascotas {{client?.nombre}} </h1>
  </div>
  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Raza</th>
      <th>Imagen</th>
      <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let mascota of mascotas">
      <td>{{ mascota.nombre }}</td>
      <td>{{ mascota.raza }}</td>
      <td><img id="imagen-dog" [src]="mascota.imagen"></td>
      <td>{{ mascota.estado ? 'Activo' : 'Inactivo' }}</td>
    </tr>
    </tbody>
  </table>
</div>

</div>
